= render :partial => "groups/chatgroup"

.main
  .main__header
    .main__header--group
      = @group.name

    .main__header--member
      Members:
      - @users.each do |user|
        = user.name
      .main__header--edit
        =link_to edit_group_path(@group) do
          edit

  #ajax.main__body
    - @group.messages.each do |message|
      .main__body--box.clearfix
        .main__body--box--name
          = message.user.name
        .main__body--box--time
          = message.created_at
      .main__body--box--group
        = message.body
        = image_tag(message.image)
  .main__footer
    - if flash[:error].present?
      = flash[:error]

    - if flash[:success].present?
      = flash[:success]

    = form_for [@group,@message],html:{class: "message-form clearfix",id: "message-form"},remote: true do |f|
      .main__footer--text
        = f.text_area :body,id:"message-body"
        %label.main__footer--file
          %i.fa.fa-image
          =f.file_field :image, class: "message-input__image", id: "message-image"
      = f.submit :input, id:"submit"
