.chat
  .chat__side
    .chat__user
      %p 
        = current_user.name
      .chat__side--edits
        =link_to edit_user_path(current_user) do
          =fa_icon "cog"
        =link_to new_group_path do
          =fa_icon "edit"

    %ul.chat__groups
      %li.chat__group
        %p.chat__group--name sample
        %p.chat__group--message good

  .main
    .main__header
      .main__header--group
        sample

      .main__header--member
        Members: 
        たなかたいち
        .main__header--edit
          =link_to edit_group_path(@group) do
            edit

    .main__body
      .main__body.clearfix
        .main__body--name
          たなかたいち
        .main__body--time
          2016/10/11 12:23:34
      .main__body--group
        sample

    .main__footer
      - if flash[:error].present?
        = flash[:error]
        
      - if flash[:success].present?
        = flash[:success]
      -# %form.main__footer--message
      -# .main__footer--text
      -#   %textarea
      -#   %label.main__footer--file
      -#     %i.fa.fa-image
      -# %input{:type =>"submit",:name =>"commit",:value =>"Send",:data_disable_with =>"Send"}

      = form_for @message do |f|
        .main__footer--text
          = f.text_area :body
          %label.main__footer--file
            %i.fa.fa-image
        = f.submit :input





